# --------- pytorch --------- #
torch==2.4.1
torchvision==0.19.1
lightning==2.4.0
torchmetrics==1.6.0

# --------- hydra --------- #
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
wandb==0.18.0

# --------- others --------- #
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
sh              # for running bash commands in some tests (linux/macos only)

matplotlib      # for plotting
ipykernel
einops==0.8.0
pandas

tensorboardX==2.6.2.2
